* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bi {
    padding: 0 ;
    margin: 0 ;
}


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li a,
div a {
    transition: .4s;
}

li a:hover,
div a:hover {
    color: #E89E00 !important;
}

.right-0 {
    right: 0;
}

.animate {
    transition: .4s;
}

.text-underline {
    text-decoration: underline;
}

.bcg-img {
    background-image: url(sample.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.targeted {
    color: #E89E00 !important;
}

.social-media {
    top: 35%;
    right: 30px;
    z-index: 20000;
}


.social-media-item {
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-item i {
    font-size: 30px;
    color: white; 
}

.social-media-item i:hover {
    color: #E89E00;
}

.nav-icons i {
    color: black;
    font-size: 25px;
    margin-right: 15px;
    font-weight: bold;
}

.nav-icons i:hover,
.navbar-brand a:hover,
.btn-nav:hover
                {
    color: #E89E00;
}

.btn-nav {
    background-color: rgb(46, 45, 45);
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}



.nav-link {
    font-family: "Josefin Sans", sans-serif;
    color: #414141;
}

.navbar-text a {
    color: #707070;
    text-decoration: none;
    font-size: 20px;
}

.slider-text {
    padding-top: 60px;
}

.slider-button {
    margin-bottom: 80px;
}

.btn-slider {
    border: 3px solid #414141;
    font-weight: bold;
}

.btn-slider:hover {
    background-color: black;
    color: white;
}


.product-list-container,
.shop-item,
.cart-container,
.table-row {
    border-bottom: 1px solid #B2B2B2;
}

.product-list {
    list-style: none;
    display: inline-block;
}

.product-list-item {
    display: inline-block;
}

.star {
    color: orange;
}

.container-border {
    border: 1px solid black;
}

.container-icon {
    font-size: 50px;
}

.small-font {
    font-size: 8px;
}

.products {
    height: 300px;
    margin-top: 20px;
}
.products img {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.products p {
    position: absolute;
    z-index: 1;
    color: black;
    font-weight: 600;
    font-size: 25px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.heart-icon {
    position: absolute;
    right: 10%;
    bottom: 20%;
    cursor: pointer;
}

.heart-icon.shop {
    bottom: 35%;
}

.heart-icon i {
    font-size: 26px;
    font-weight: bold;
    color: black;
    transition: .4s;
}

.heart-icon i:hover {
    color: coral;
}

.assets-container {
    flex-basis: 32.5%;
}

.assets {
    border: 1px solid #707070;
}

.asset-icon {
    font-size: 50px;
    color: #707070;
}

/* home-1 */

nav.position-fixed {
    z-index: 2000;
    right: 10%;
    left: 10%;
}

.nav-white {
    color:white;
}

.home-start {
    padding: 150px 200px;
}

.home-second {
    padding: 100px;
}

.bi-file-bar-graph {
    font-size: 50px;
    color: #707070;
}

span.underline {
    text-decoration: underline;
}

/* SHOP */

.shop-container {
    padding-right: 40px;
}

ul.shop-list {
    padding-left: 0px;
}

.shop-list-item {
    border-bottom: 1px solid #707070;
    transition: .8s;
}

.shop-list-item a {
    color: black;
}

.shop-list-item:hover {
    transform: translateX(10%);

}


.price-slider {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: black;
}

.slider-square {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.price-gray {
    position: absolute;
    height: 5px;
    left: calc(60% + 20px);
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #707070;
}

.slider-square.black {
    left: 0;
    background-color: black;
}

.slider-square.orange {
    left: 60%;
    background-color: orange;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: .4s;
}

.color:hover {
    transform: scale(1.4);
}

.color.black {
    background-color: black;
}
.color.orange {
    background-color: orange;
}
.color.brown {
    background-color: brown;
}
.color.blue {
    background-color: blue;
}

.tag-item {
    border: 1px solid black;
    padding: 10px 5px;
    transition: .8s;
}

.tag-item:hover {
    background-color: #707070;
}

.shop-icon {
    font-size: 30px;
    transition: .8s;
    cursor: pointer;
}

.shop-icon:hover {
    color: skyblue !important;
}

/* Detail */

.detail-container {
    left: 10%;
    right: 10%;
    bottom: -20%;
}

.detail-item {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: slategray;
}

.icon-light,
.icon-dark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #B2B2B2;
    font-size: 20px;
}

.icon-light {
    opacity: 0.6;
}

/* CART */
.imagebox {
    width: 60%;
}
.imagebox img{
    width: 100%;
    height: auto;
}


/* BLOG */

.blog-container {
    width: 100%;
    height: 600px;
}

.blog {
    background-color: white;
    left: 30%;
    right: 10%;
    top: 80%;
}

/* BLOG */

.after::after {
    display: block;
    content: "";
    width: 200px;
    height: 10px;
    background-color: #E89E00;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

/* Contact */


.contact input,
.contact textarea {
    padding: 0 10px 10px 10px;
}

.socials-item {
    background: #707070;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (orientation: portrait) {
    html {
      font-size: 6px;
    }
}


@media (max-width: 720px) {
    .social-media {
        display: none;
    }
    .home-start {
        padding: 100px 25px 50px 25px;
    }
    .right-0 {
        right: 0;
    }
    .heart-icon.shop {
        bottom: 60%;
    }
}


@media (max-width: 1024px) {

    .media-column {
        flex-direction: column;
    }
    .media-column > .assets-container {
        padding-top: 50px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    div.w-50 {
        width: 100% !important;
    }

    html {
        font-size: 60%;
    }
    .blog {
        background-color: white;
        left: 0%;
        top: 50%;
    }
    .right-0 {
        top: 110%;
        right: 20%;
    }
    .heart-icon.shop {
        bottom: 40%;
    }
}    

@media (max-width:1440px) {
    html {
        font-size: 80%;
    }
}